/*

!/.gitignore

!/solutions
/solutions/*
!/solutions/javascript
/solutions/javascript/*
!/solutions/javascript/run
!/solutions/javascript/invoker
!/solutions/javascript/README.md
!/solutions/javascript/*.js
!/solutions/common-lisp
/solutions/common-lisp/*
!/solutions/common-lisp/run
!/solutions/common-lisp/README.md
!/solutions/common-lisp/*.lsp
!/solutions/rust
/solutions/rust/*
!/solutions/rust/run
!/solutions/rust/README.md
!/solutions/rust/*.rs

!/lib
!/run
!/perf

!/LICENSE
!/README.md